/* import google fonts */
@import url("../css/fonts.css");

/* Reset Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* parent variable */
:root {
  /* Fonts  */
  --bebas-neue: "bebas-neue", cursive;
  --fjalla: "fjalla", cursive;
  --Heebo: "Heebo", cursive;
  --ibm-plex-sans: "ibm-plex-sans", cursive;
  --pacifico: "pacifico", cursive;
  --roboto: "roboto", cursive;
}

.owl-carousel .item h4 {
  background-color: #1a669c;
  text-align: center;
  color: white;
  vertical-align: middle;
  display: table-cell;
  height: 200px;
  width: 200px;
  padding: 20px;
}

.roboto p {
  font-family: var(--roboto);
  font-size: 20px;
}

body {
  font-family: sans-serif;
  background: rgb(8, 102, 158);
  background: linear-gradient(0deg, rgba(8, 102, 158, 1) 64%, rgba(100, 159, 194, 1) 79%, rgba(255, 255, 255, 1) 91%);
}

.container {
  padding-top: 20px;
  color: white;
}

.brand-logo .logo img {
  max-height: 55px;
}

.brand-logo .email-telp {
  display: flex;
}

.brand-logo .email-telp ul {
  list-style: none;
  margin-left: auto;
  align-items: center;
  height: 100%;
  color: #1a669c;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
}

.brand-logo .email-telp ul a:hover {
  text-decoration: none;
  color: #1a669c;
}

.brand-logo .email-telp ul a {
  text-decoration: none;
  color: #1a669c;
}

.brand-logo .gambar-corak img {
  width: 2024px;
  max-height: 100px;
  justify-content: center;
}

.brand-logo .navigasi .nav {
  justify-content: center;
  text-align: center;
}

.brand-logo .navigasi {
  text-align: center;
  padding-top: 20px;
  margin: auto;
}

.brand-logo .navigasi .nav .nav-item a {
  text-decoration: none;
  color: #1a669c;
  font-size: 15px;
}

.brand-logo .navigasi .nav .nav-item {
  border-left: #1a669c solid 1px;
  font-size: 16px;
  font-weight: 500;
  height: 60px;
  width: auto;
  text-align: left;
  justify-content: center;
  padding-top: 5px;
  padding-left: 12px;
  padding-right: 12px;
}

.brand-logo .navigasi .nav .nav-item .nav-desc {
  font-size: 12px;
  font-family: var(--opensans-regular);
  font-style: italic;
}

.hero-slider .slider img {
  padding-top: 10px;
  max-height: 470px;
  max-width: 1024;
}

.hero-slider .slider .carousel-inner .card {
  background: rgba(26, 103, 156, 0.6);
}

.why-caa .card {
  border: 0em;
  background-color: rgba(8, 102, 158, 0);
}


.why-caa .card img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.produk .card {
  background-color: whitesmoke;
  color: #1a669c;
  height: 300px;

}

.produk .card .card-body {
  height: 250px;
  text-align: center;
  border-radius: 20px;
}


.produk .card img {
  max-height: 90px;
  max-width: 150px;
  display: flex;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 20px;
}

.news .card {
  border: 0em;
}

.news .card img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  right: 0;
  margin: auto;
}

.latest-project .desc {
  color: white;
}

.latest-project .carous {
  color: #1a669c;
}

.news .desc {
  color: white;
}

.news .item {
  color: #1a669c;
}

.footer {
  background-color: whitesmoke;
}

.footer .container {
  color: #1a669c;
}

/* footer */
footer {
  background-color: var(--background-color-footer);
  color: var(--text-blue);
}

footer .footer img {
  max-width: 100%;
  height: auto;
}

footer .container .row .about-company .img-prod a img {
  max-width: 90px;
  padding: 5px;
}

footer .footer .container .row .links li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 12px;

}

.footer .container ul li a {
  color: #1a669c;
  font-weight: 500;
}

.footer .container ul li a:hover {
  text-decoration: none;
}

/* end footer */

.about-us .image img {
  position: relative;
  z-index: 1;
  max-width: 1100px;
  top: 0;
}

.about-us .caption h1 {
  position: absolute;
  top: 20px;
  z-index: 2;
  margin: 0 0 auto;
  color: #fff;
}

.row .content img {
  max-width: 500px;
}

.row .col {
  display: flex;
}

.row .col .desc {
  border-left: 2px solid white;
}

.alamat .kantor {
  padding-top: 20px;
  position: relative;
  text-align: center;
  color: white;
}

.alamat .kantor img {
  max-width: 100%;
  border-radius: 10px;
  margin: 0em;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.caption .card {
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
}

.caption .card .card-header {
  background-color: rgba(0, 121, 191, 0.4);
}

.alamat .workshop {
  padding-top: 20px;
  position: relative;
  text-align: center;
  color: white;
}

.alamat .workshop img {
  max-width: 100%;
  border-radius: 10px;
  margin: 0em;
}

.productmesin .content .card-item {
  padding-top: 30px;
}

.productmesin .content .card-item .card {
  color: #1a669c;
}

.productmesin .content .card-item .card .card-title {
  font-weight: bold;
}

.productmesin .content .card-item .card .card-body {
  font-family: sans-serif;
  text-align: center;
}

.content-services .img-desc img {
  padding: 10px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  width: 1110px;
  height: 600px;
}

.content-services .img-desc {
  position: relative;
  text-align: center;
  color: white;
}

.content-services .desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: white 2px solid;
}

.content-services .desc .img-services img {
  max-height: 200px;
  max-width: 200px;
}